<%= render 'shared/banner' %>
  <%= simple_form_for :search, url: hairs_path, method: "GET" do |f| %>
<div class="w-50 m-auto p-3 mb-2 bg-light text-dark align-items-center">
  <div class="bottom d-flex justify-content-between align-items-center">
    <p> Search your dream hair:</p>
        <%= f.input :hair_type, required: false, collection: Hair::TYPES %>
        <%= f.input :colour, required: false, collection: Hair::COLOURS %>
        <%= f.input :ethnicity, required: false, collection: Hair::ETHNICITY %>
        <%= f.submit "Search", class: "btn btn-warning" %>
        <%= link_to 'Reset', hairs_path %>
    <% end %>
  </div>
</div>
    <div id="hairs">
      <%= render 'hair', hairs: @unsold_hairs %>
    </div>
