<div class="container m-6">
<h1 class="text-center">My Hair Collection</h1>
  <div class="cards">
    <% @hairs.each do |hair|%>
      <div class="card">
        <%= cl_image_tag hair.photos.first.key %>
        <div class="card-infos">
          <div>
            <p> <%= hair.length_cm %> cm of <%= hair.hair_type %> <%= hair.colour %> hair </p>
            <p> <%= hair.weight_grams %> grams for <%= hair.price %> GBP </p>
          </div>
          <%= link_to 'Edit', edit_hair_path(hair), class: 'btn btn-warning' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
