<div class="container m-6">
<h1 class="text-center">My Hair Collection</h1>
  <div class="card-columns">
    <% @hairs.each do |hair|%>
      <div class="card">
        <% if hair.sold %>

          <%= cl_image_tag hair.photos.first.key, :style => "filter: grayscale(100%);" %>
          <div class="sold-tag"> SOLD </div>
        <% else %>
          <%= cl_image_tag hair.photos.first.key %>
        <% end %>
        <div class="card-infos">
          <div>
            <p> <%= hair.length_cm %> cm of <%= hair.hair_type %> <%= hair.colour %> hair </p>
            <p> <%= hair.weight_grams %> grams for <%= hair.price %> GBP </p>
          </div>
          <div class="d-flex align-items-stretch flex-column">
          <%= link_to 'Edit', edit_hair_path(hair), class: 'btn btn-warning mb-2' %>
          <%= link_to 'Delete', "#", class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
