<div class="container m-6">
  <h1 class="ml-5 mt-5">Overview</h1>
  <div class="d-flex justify-content-around">
    <div class="purchase-item">
      <div class="card">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <%= cl_image_tag @hair.photos.first.key, :class => "d-block w-100" %>
              </div>
              <% @hair.photos.each do |photo| %>
                <% if photo != @hair.photos.first %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, :class => "d-block w-100" %>
                  </div>
                <% end %>
              <% end %>
            </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-infos">
            <p> <%= @hair.length_cm %> cm of <%= @hair.hair_type %> <%= @hair.colour %> hair of <%= @hair.ethnicity %> ethnicity </p>
            <p> <%= @hair.weight_grams %> grams for <%= @hair.price %> GBP </p>
        </div>
      </div>
    </div>
    <div class="purchase-item">
      <div class="container m-4">
        <p class="row" >This item is offered by <%= @hair.user.name %> </p>
        <p class="row" >It will be sent to you from <%= @hair.user.city %> <%= @hair.user.country%> </p>
        <br>
        <br>
        <br>
        <p class="row" >Place your order now!</p>
        <div class="row" >
          <%= simple_form_for @purchase, :url => hair_purchases_path(@hair.id) do |f| %>
            <%= f.error_notification %>
            <%= f.input :comment %>
            <%= f.button :submit, "Purchase", id: "purchase-btn", class: 'btn btn-warning'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
