<h1>This is your purchase:</h1>
<p class="card">
  <%= cl_image_tag @hair.photos.first.key %>
  <div class="card-infos">
      <h2> <%= @hair.length_cm %> cm of <%= @hair.hair_type %> <%= @hair.colour %> </h2>
      <h3> <%= @hair.weight_grams %> grams for <%= @hair.price %> GBP </h3>
  </div>
</p>
<h2>Would you like to leave a comment?</h2>
<%= simple_form_for @purchase, :url => hair_purchases_path(@hair.id) do |f| %>
  <%= f.error_notification %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
