<div class="container m-6">
  <h1> Thank you for your purchase </h1>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= cl_image_tag @purchase.hair.photos.first.key %>
      </div>
      <div class="card-infos">
        <h2> <%= @purchase.hair.length_cm %> cm of <%= @purchase.hair.hair_type %> <%= @purchase.hair.colour %> </h2>
        <h3> <%= @purchase.hair.weight_grams %> grams for <%= @purchase.hair.price %> GBP </h3>
      </div>
    </div>
  </div>
</div>
